/* body{
    background-color: aqua;
    background-image: url(https://images.panda.org/assets/images/pages/welcome/orangutan_1600x1000_279157.jpg);
    background-repeat: no-repeat; a imagem não fica repetindo na tela
    background-size: auto; valor padrao da imagem
    background-size: contain; redenriza a imagem
    background-size: cover; preencher toda a tela
} */

.static{
    background-color: purple;
    width: 200px;
    height: 100px;
    margin: 10px;
    position: static; /* "static" ja é o padrão (objeto parado)*/
}

.relative{
    background-color: brown;
    width: 200px;
    height: 100px;
    position: relative; /*"relative" permite mover no objeto na tela*/
    left: 50px;
    top: 30px;     
}

.absolute{
    background-color: blue;
    width: 200px;
    height: 100px;
    position: absolute; /*"absolute"não afeta nem é afetado pelos elementos ao seu redor no layout*/
    left: 100px;
    top: 0;
}

.container{
    background-color: red;
    width: 400px;
    height: 300px;
    position: relative;
}

.absolute{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.menu{
    background-color: red;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
}