*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

header{
    width: 100%px;
    height: 70px;
    padding: 16px 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 16px;
}

a:hover{
    color: brown;
}

nav > button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

nav > a{
    display: flex;
    color: black;
    font-family: "Roboto", sans-serif;
    gap: 32px;
    
}

nav > button > p{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button-group > button{
    border: 1px solid black;
    padding: 8px 20px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.black{
    background-color: black;
    color: white;
}