*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

.poke-left{
    position: absolute;
    top: 0;
    left: 0;
}

.poke-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

